* {
	font-family: "Sora", sans-serif;
	margin: 0;
	color: white;
	font-size: 12px;
}

#main-content-wrapper {
	background-color: #222 !important;
}

div.top-nav {
	height: 60px !important;
	background: #ff7b26;
	color: #fff !important;
	display: flex;
	align-items: center;
	padding: 0 20px;
	filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
}

.is-right .dropdown-trigger {
	float: right;
	float-right: 25px;
	float-position: fixed;
	float-cursor: pointer;
}

.is-right .dropdown-menu {
	float: right;
	right: 25px;
	position: fixed;
}

#sidebarNav {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	flex-grow: 0;
	background: #333;
	width: 300px;
	padding: 20px 0;
	color: white !important;
}

.content {
	background-color: #2A2A2A !important;
}

footer.footer {
	background-color: #222;
}

h1 {
	color: white !important;
}

h3 {
	color: gray !important;
}
